.songs {
  background-color: #181818; /* Dark background */
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
}

.addSongContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
}

.addSongContainer h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.addSongContainer input {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #121212;
  border: 1px solid #404040;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.addSongContainer button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addSongContainer button:hover {
  background-color: #1aa34a;
}

.songItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: background-color 0.2s;
}

.songItem:hover {
  background-color: #333;
}

.songTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.artistImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.songTitle h2 {
  font-size: 20px;
  font-weight: 600;
}

.songDetails {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #b3b3b3;
  padding: 0 20px;
}

.likeButton {
  padding: 12px 25px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.likeButton:hover {
  background-color: #1aa34a;
}

.liked {
  background-color: #1db954 !important;
}

.liked:hover {
  background-color: #1aa34a !important;
}

button:focus {
  outline: none;
}
